version: '2.1'  
services:  
  caddy:
    build: .
    image: awesomecontainer/wdocker-deluge:${DOCKERTAG:-latest}
    container_name: deluge
    volumes:
      - C:\DockerData\deluge:c:\DelugeData
      - C:\DockerData\delugedownloads:c:\Downloads
    network_mode: nat
    restart: unless-stopped
    ports:
      - 8112:8112